.tag {
    min-width: 140px;
    height: auto;
    margin: 3px 3px;
    align-content: center;
    border-radius: 15px;
    border: 2px solid $color-background;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(102 173 195 / 25%);
    &:hover {
      border: 2px solid $color-text;
      transition: all 800ms ease;
    }
  }