.track__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 152, 242);
  height: 450px;
  width: 30%;
}

.track__tag {
  background-color: rgb(83 198 255);
  border-radius: 8px;
}