

.favorites__title{
  font-size: 35px;
  margin-bottom: 20px;
}

#favorite{
  display: flex;
  flex-direction: column;
  padding: 20px 150px;
}

.favorite__card{
  width: 100%;
  div{
    font-size: 15px;
  }
}

.favorite__panel{
  width: auto;
  img{
    width: 30px;
    height: 30px;
  }
}