.userBlock__wrapper {
  padding-top: 80px;
  width: 600px;
}

.userBlock__user-title {
  text-align: center;
  font-size: 28px;
}

#profile-img {
  max-width: 100px;
  flex: 1 0 100%;
  margin-right: 44px;
}

#profile-flex {
  display: flex;
}
.userBlock {
  flex: 1 0 100%;

  &__user-title h2 {
    text-align: left;
  }

  &__user-email h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 6px;
  }

  &__user-tel h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: rgba(109, 109, 109, 1);
  }

  &__h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 21px;
  }
}

#settings-form-btn {
  background: rgba(135, 207, 101, 1);
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 17.5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(75, 199, 226, 0.25);
  margin-bottom: 18px;
  cursor: pointer;
}

#settings-form input{
  margin-bottom: 27px;
}
#settings-form span{
  margin-bottom: 7px;
}
