.aside{
  min-width: 248px;
  background-color: $color-background;
  box-shadow: 7px 0px 27px 0px rgba(102, 173, 195, 0.26);
  z-index: 1;
}

.aside__title {
  padding: 21px 0 74px;
  text-align: center;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 31px;
  a {
    @include font($size: 2.4rem, $height: 5.7rem, $weight: 300);
    color: $color-text;
    &:hover {
      color: $color-hover-text;
      @extend %transition;
    }
  }
}

#nav__categories {
  display: none;
  flex-direction: column;
  margin-left: 50px;
  font-size: 2.0rem;
  line-height: 3.7rem;
}
