@import './assets/resource/reset.scss';
@import './components/aside/aside.scss';

.container{
  display: flex;
  padding: 0px 20px;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px solid red;
}

.main-wrapper{
  flex: 1 1 auto;
}

